@page "/products"

@using Achuu.Models
@using Achuu.Models.Services

@inject ProductService productService

<PageTitle>Product List</PageTitle>

<h1>Product List</h1>

@if (products == null)
{
    <p>Loading...</p>
}
else if (products.Count == 0)
{
    <p>No products found.</p>
}
else
{
    @foreach (var product in products)
    {
        <div>
            <h2>@product.Name</h2>
            <p>@product.Description</p>
            <h3>Ingredients</h3>
            @if (product.Ingredients != null && product.Ingredients.Count > 0)
            {
                <ul>
                    @foreach (var ingredient in product.Ingredients)
                    {
                        <li>@ingredient.Name - Can tolerate: @ingredient.IsAllergic</li>
                    }
                </ul>
            }
            else
            {
                <p>No ingredients found.</p>
            }
        </div>
        <hr />
    }
}

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetProductsAsync();
    }
}